<li class="streamer">
  <a href="{{url}}" target="_blank">
    <img src="{{logo}}" alt="{{streamer}}">
    <div class="streamer-info">
      <h2>{{streamer}}</h2>
      <p>{{status}}</p>
    </div>
  </a>
</li>
