<li class="streamer">
  <a href="{{url}}" target="_blank">
    <img src="{{logo}}" alt="{{altText}}">
    <div class="streamer-info">
      <h2>{{name}}</h2>
      <p>{{status}}</p>
    </div>
  </a>
</li>
